.service-button {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 17px;
    background-color: #e04d7b;
    border: 1px solid #e04d7b;
    color: white;
    font-weight: 600;
}